    <article id="slide00" class="slide">
        <div class="pin-wrapper">
            <div class="wrapper-blank">
                <div class="row">
                    <div class="col-sm-6 col-modify">
                        <h1 class="title">Book Reviews 2016</h1>
                        <p class="intro1">I read several books in 2016 and it was very beneficial for me, below are some of the highlights of the year for me.</p>
                        <a href="#slide01" class="butt btn btn-outline-secondary float-xs-right">Get Started!</a>
                        <!-- <button type="button" class="butt btn btn-outline-secondary float-xs-right" href="#slide01" target="slide01">Get Started!</button> -->
                        <!-- <a href="#slide01">get started!</a> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- end article-->
    <article id="slide01" data-bottom-top="background-position: 75% 100%;" data-top-bottom="background-position: 75% -20%;" class="slide">
        <div class="pin-wrapper slide01book2" data-bottom-top="background-position: 50% 600%;" data-top-bottom="background-position: 50% -7%;">
            <div class="slide01book" data-bottom-top="background-position: 60% 70%;" data-top-bottom="background-position: 60% 60%;">
                <div class="row">
                    <div class="col-sm-6">
                        <%= image_tag("book-dawkins1.svg", class:"img-shrink") %>
                    </div>
                    <div class="col-sm-6 media-move">
                        <div class="wrapper ">

                            <h1>“Bad things happen because things happen.”</h1>
                            <!-- <%= image_tag("book-dawkins1.svg", class:"img-hide") %> -->
                            <p>It’s not often I read a book in 24 hours, in fact it’s rare. Dawkins’ takes the myth and belief out of a lot of things giving a sound basis for science and hypothesis. I know that believers do not like him and he’s a highly controversial figure
                                however how do you ever grow if your belief system is never challenged?</p>
                            <p>I highly recommend The Magic of Reality as a challenge (or strengther) to your belief system. The book is very easy to read as well as quick.</p>
                            <a href="#slide02" class="butt btn btn-outline-secondary float-xs-right">Next Book</a>
                            <a href="https://www.amazon.com/Magic-Reality-Know-Whats-Really/dp/1451675046/" class="push-right butt btn btn-outline-secondary float-xs-right">Link To Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- end article-->
    <article id="slide02" data-bottom-top="background-position: 50% 0%" data-top-bottom="background-position: 50% -5%" class="slide">
        <div class="pin-wrapper slide01book6" data-bottom-top="background-position: 60% 110%;" data-top-bottom="background-position: 60% 95%;">

            <div class="slide01book2" data-bottom-top="background-position: 50% 600%;" data-top-bottom="background-position: 50% -7%;">
                <div class="row">
                    <div class="col-sm-6">
                        <%= image_tag("book-jakub.svg") %>
                    </div>
                    <div class="col-sm-6">
                        <div class="wrapper">

                            <h1>“Embrace your weird.”</h1>
                            <p>One day I had a flash “I wonder whatever happened to that girl from Mrs. Doubtfire?” I decided to look her up and found her name was Lisa Jakub and she found a way to skip the whole “fall of the childhood actor” curse. In her 20s she decided to
                                pack it up and move to Virginia where she now resides. The book “You Look Like That Girl” is about Jakub’s life in Hollywood and how she got fed up with everything, it’s very good, a fun read and awesome to know she made it out unscathed.</p>
                            <a href="#slide03" class="butt btn btn-outline-secondary float-xs-right">Next Book</a>
                            <a href="https://www.amazon.com/You-Look-Like-That-Girl/dp/0825307465/" class="push-right butt btn btn-outline-secondary float-xs-right">Link To Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- end article-->
    <article id="slide03" data-bottom-top="background-position: 50% 0%" data-top-bottom="background-position: 50% -5%" class="slide">
        <div class="pin-wrapper slide01book4" data-bottom-top="background-position: 50% 110%;" data-top-bottom="background-position: 50% 120%;">
            <div class="slide01book5" data-bottom-top="background-position: 60% 110%;" data-top-bottom="background-position: 60% 190%;">
                <div class="row">
                    <div class="col-sm-6">
                        <%= image_tag("book-kelly.svg") %>
                    </div>
                    <div class="col-sm-6">
                        <div class="wrapper ">

                            <h1>“Winners take responsibility. Losers blame others.”</h1>
                            <p>Probably the most surprising book I read was Megyn Kelly’s “Settle For More.” I have no love for Fox News and the people on it, well until I read Megyn’s book. Smart, sharp and a very cool account of a woman that went from a lawyer to a reporter,
                                to the most watched tv show on Fox News… and a recounting of her battle with Trump. It’s an awesome read and one I couldn’t put down.</p>
                            <a href="#footer" class="butt btn btn-outline-secondary float-xs-right">Final Notes</a>
                            <a href="https://www.amazon.com/Settle-More-Megyn-Kelly/dp/0062494600/" class="push-right butt btn btn-outline-secondary float-xs-right">Link To Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="footer" class="slide-mod">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-6" data-bottom="opacity: 0; transform: scale(0.5)" data--200-bottom="opacity: 1; transform: scale(1)">
                    <%= image_tag("scott.svg", class:"shrink-ray") %>
                </div>
                <div class="wrapper ">
                    <div class="col-sm-6">
                        <h1>Things I Learned</h1>
                        <p>This is a mock project to help me learn more about coding for work. It is not real and was very difficult. I logged around 40 hours getting this far (version 1), I hope with the next project I can cut the time down by at least 25% if not more.
                            Things I learned:
                            <ul class="list-group shrink-ray-small float-xs-right">
                                <li class="list-group-item">Learned and Implemented scrollers through js</li>
                                <li class="list-group-item">Learned Green Sock Animation</li>
                                <li class="list-group-item">Learned how to create and push to GitHub (only knew how to do it in Heroku)</li>
                                <li class="list-group-item">Use data attributes</li>
                                <li class="list-group-item">Manipulate SVGs</li>
                                <li class="list-group-item">Smooth out fonts</li>
                            </ul>
                        </p>
                        <p>*BUG* Scrolling is working in mobile but there are some issues that are going on that need to be addressed.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div data-50-end="opacity: 0;" data-end="opacity: 1;" class="footer-container">
        <footer class="wrapper">
            <h3>2016 &copy;
                <a href="https://thigpendesigns.com" target="_blank">ThigpenDesigns</a>
                |
                <a href="https://twitter.com/sthig" target="_blank">@sthig</a>
                | I Know Java B++</h3>
        </footer>
    </div>
